/*************************************************************************************/
/*                                                                                   */
/*                            __                                              __     */
/*                           /\ \                                            /\ \    */
/*    __        __     ___   \ \ \____     __    __  __      ___     ___     \_\ \   */
/*  /'_ `\    /'__`\  / __`\  \ \ '__`\  /'__`\ /\ \/\ \    / __`\ /' _ `\   /'_` \  */
/* /\ \L\ \  /\  __/ /\ \L\ \  \ \ \L\ \/\  __/ \ \ \_\ \  /\ \L\ \/\ \/\ \ /\ \L\ \ */
/* \ \____ \ \ \____\ \____/   \ \_,__/\ \____\ \/`____ \ \ \____/\ \_\ \_\ \___,_\*/
/*  \/___L\ \ \/____/ \/___/     \/___/  \/____/  `/___/> \ \/___/  \/_/\/_/ \/__,_ /*/
/*    /\____/                                        /\___/                          */
/*    \_/__/                                         \/__/                           */
/*                                                                                   */
/*************************************************************************************/
/* Theme for Reveal.js                                                               */
/*************************************************************************************/
/******************************************************************************/
/* Fonts                                                                      */
/******************************************************************************/
@font-face {
  font-family: "PT Sans";
  src: url('fonts/pt_sans/pt_sans-web-regular-webfont.eot?1466105480');
  src: url('fonts/pt_sans/pt_sans-web-regular-webfont.eot?&1466105480#iefix') format('embedded-opentype'), url('fonts/pt_sans/pt_sans-web-regular-webfont.ttf?1466105480') format('truetype'), url('fonts/pt_sans/pt_sans-web-regular-webfont.woff?1466105480') format('woff'), url('fonts/pt_sans/pt_sans-web-regular-webfont.svg?1466105480') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url('fonts/pt_sans/pt_sans-web-bold-webfont.eot?1466105480');
  src: url('fonts/pt_sans/pt_sans-web-bold-webfont.eot?&1466105480#iefix') format('embedded-opentype'), url('fonts/pt_sans/pt_sans-web-bold-webfont.ttf?1466105480') format('truetype'), url('fonts/pt_sans/pt_sans-web-bold-webfont.woff?1466105480') format('woff'), url('fonts/pt_sans/pt_sans-web-bold-webfont.svg?1466105480') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url('fonts/pt_sans/pt_sans-web-italic-webfont.eot?1466105480');
  src: url('fonts/pt_sans/pt_sans-web-italic-webfont.eot?&1466105480#iefix') format('embedded-opentype'), url('fonts/pt_sans/pt_sans-web-italic-webfont.ttf?1466105480') format('truetype'), url('fonts/pt_sans/pt_sans-web-italic-webfont.woff?1466105480') format('woff'), url('fonts/pt_sans/pt_sans-web-italic-webfont.svg?1466105480') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "PT Sans";
  src: url('fonts/pt_sans/pt_sans-web-bolditalic-webfont.eot?1466105480');
  src: url('fonts/pt_sans/pt_sans-web-bolditalic-webfont.eot?&1466105480#iefix') format('embedded-opentype'), url('fonts/pt_sans/pt_sans-web-bolditalic-webfont.ttf?1466105480') format('truetype'), url('fonts/pt_sans/pt_sans-web-bolditalic-webfont.woff?1466105480') format('woff'), url('fonts/pt_sans/pt_sans-web-bolditalic-webfont.svg?1466105480') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Archivo Narrow";
  src: url('fonts/archivonarrow/archivonarrow-bold-webfont.eot?1466105480');
  src: url('fonts/archivonarrow/archivonarrow-bold-webfont.eot?&1466105480#iefix') format('embedded-opentype'), url('fonts/archivonarrow/archivonarrow-bold-webfont.ttf?1466105480') format('truetype'), url('fonts/archivonarrow/archivonarrow-bold-webfont.woff?1466105480') format('woff'), url('fonts/archivonarrow/archivonarrow-bold-webfont.svg?1466105480') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Archivo Narrow";
  src: url('fonts/archivonarrow/archivonarrow-bolditalic-webfont.eot?1466105480');
  src: url('fonts/archivonarrow/archivonarrow-bolditalic-webfont.eot?&1466105480#iefix') format('embedded-opentype'), url('fonts/archivonarrow/archivonarrow-bolditalic-webfont.ttf?1466105480') format('truetype'), url('fonts/archivonarrow/archivonarrow-bolditalic-webfont.woff?1466105480') format('woff'), url('fonts/archivonarrow/archivonarrow-bolditalic-webfont.svg?1466105480') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Ubuntu Mono";
  src: url('fonts/ubuntumono/ubuntumono-regular-webfont.eot?1466105480');
  src: url('fonts/ubuntumono/ubuntumono-regular-webfont.eot?&1466105480#iefix') format('embedded-opentype'), url('fonts/ubuntumono/ubuntumono-regular-webfont.ttf?1466105480') format('truetype'), url('fonts/ubuntumono/ubuntumono-regular-webfont.woff?1466105480') format('woff'), url('fonts/ubuntumono/ubuntumono-regular-webfont.svg?1466105480') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu Mono";
  src: url('fonts/ubuntumono/ubuntumono-bold-webfont.eot?1466105480');
  src: url('fonts/ubuntumono/ubuntumono-bold-webfont.eot?&1466105480#iefix') format('embedded-opentype'), url('fonts/ubuntumono/ubuntumono-bold-webfont.ttf?1466105480') format('truetype'), url('fonts/ubuntumono/ubuntumono-bold-webfont.woff?1466105480') format('woff'), url('fonts/ubuntumono/ubuntumono-bold-webfont.svg?1466105480') format('svg');
  font-weight: bold;
  font-style: normal;
}
/******************************************************************************/
/* Variables                                                                  */
/******************************************************************************/
/******************************************************************************/
/* General Styles                                                             */
/******************************************************************************/
/* line 182, source/theme.scss */
body {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ViZWJlYiIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-radial-gradient(#ffffff, #ebebeb);
  background-image: -webkit-radial-gradient(#ffffff, #ebebeb);
  background-image: radial-gradient(#ffffff, #ebebeb);
  text-align: left;
}

/* line 186, source/theme.scss */
.reveal, .reveal p {
  font-family: "PT Sans", sans-serif;
  font-size: 34px;
  font-weight: 400;
  color: #312D2E;
  line-height: 38px;
  letter-spacing: -0.02em;
}

/* line 195, source/theme.scss */
::selection {
  color: white;
  background: #82B919;
  text-shadow: none;
}

/* line 198, source/theme.scss */
.reveal code {
  font-family: "Ubuntu Mono";
  font-size: 24px;
  color: white;
  line-height: 24px;
  letter-spacing: 0;
  display: inline-block;
  padding: 3px 10px 2px 10px;
  background: #312D2E;
  position: relative;
  top: -3px;
  text-align: left;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: #312D2E 0 0 5px;
  -webkit-box-shadow: #312D2E 0 0 5px;
  box-shadow: #312D2E 0 0 5px;
}

/* line 212, source/theme.scss */
.reveal pre {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 976px;
}

/* line 216, source/theme.scss */
.reveal pre code {
  display: block;
  padding: 8px;
  line-height: 1.05em;
}

/******************************************************************************/
/* Headings                                                                   */
/******************************************************************************/
/* line 224, source/theme.scss */
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5 {
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 700;
  color: #0D5B90;
  letter-spacing: -0.03em;
  margin: 0.2em 0;
  text-shadow: 0 1px 0 white, 0 1px 4px #312D2E;
}

/* line 232, source/theme.scss */
.reveal h1 {
  text-shadow: 0 1px 0 #e0e0e0, 0 2px 0 #dbdbdb, 0 3px 0 #d6d6d6, 0 4px 0 #d1d1d1, 0 5px 0 #cccccc, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.3), 0 6px 5px rgba(0, 0, 0, 0.2), 0 6px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15);
  line-height: 1;
}

/* line 233, source/theme.scss */
.reveal h1 {
  font-size: 109px;
}

/* line 234, source/theme.scss */
.reveal h2 {
  font-size: 79px;
  line-height: 1;
}

/* line 235, source/theme.scss */
.reveal h3 {
  font-size: 64px;
}

/* line 236, source/theme.scss */
.reveal h4 {
  font-size: 49px;
}

/* line 237, source/theme.scss */
.reveal h5 {
  font-size: 34px;
}

/******************************************************************************/
/* Links                                                                      */
/******************************************************************************/
/* line 241, source/theme.scss */
.reveal a:not(.image) {
  color: #467A1C;
  text-decoration: none;
}

/* line 245, source/theme.scss */
.reveal a:not(.image):hover {
  color: #0878BE;
}

/******************************************************************************/
/* Lists                                                                      */
/******************************************************************************/
/* line 251, source/theme.scss */
.reveal ul {
  margin: 0;
  padding: 0;
  list-style-type: disc;
  text-align: left;
}
/* line 255, source/theme.scss */
.reveal ul li {
  padding: 5px 0;
}
/* line 256, source/theme.scss */
.reveal ul ul {
  list-style-type: circle;
}

/******************************************************************************/
/* Navigation Controls                                                        */
/******************************************************************************/
/* line 262, source/theme.scss */
.reveal .controls div.navigate-left, .reveal .controls div.navigate-left.enabled {
  border-right-color: #0D5B90;
}
/* line 265, source/theme.scss */
.reveal .controls div.navigate-right, .reveal .controls div.navigate-right.enabled {
  border-left-color: #0D5B90;
}
/* line 268, source/theme.scss */
.reveal .controls div.navigate-up, .reveal .controls div.navigate-up.enabled {
  border-bottom-color: #0D5B90;
}
/* line 271, source/theme.scss */
.reveal .controls div.navigate-down, .reveal .controls div.navigate-down.enabled {
  border-top-color: #0D5B90;
}
/* line 274, source/theme.scss */
.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #467A1C;
}
/* line 277, source/theme.scss */
.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #467A1C;
}
/* line 280, source/theme.scss */
.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #467A1C;
}
/* line 283, source/theme.scss */
.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #467A1C;
}

/******************************************************************************/
/* Progress Bar                                                               */
/******************************************************************************/
/* line 290, source/theme.scss */
.reveal .progress {
  top: 0;
  height: 5px;
  background: #009EE1;
}

/* line 295, source/theme.scss */
.reveal .progress span {
  background: #82B919;
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

/******************************************************************************/
/* Slides                                                                     */
/******************************************************************************/
/* line 302, source/theme.scss */
html.end body {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzhlOWVhOCIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-radial-gradient(#ffffff, #8e9ea8);
  background-image: -webkit-radial-gradient(#ffffff, #8e9ea8);
  background-image: radial-gradient(#ffffff, #8e9ea8);
}
/* line 304, source/theme.scss */
html.end body .reveal .progress,
html.end body .reveal .controls {
  opacity: 0;
}

/******************************************************************************/
/* Signature                                                                  */
/******************************************************************************/
/* line 310, source/theme.scss */
#geobeyond-signature {
  display: block;
  width: 200px;
  height: 200px;
  position: fixed;
  left: 25px;
  bottom: 25px;
  background: url("img/logo_gn.png");
  z-index: 25;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  opacity: 0.9;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}
/* line 318, source/theme.scss */
#geobeyond-signature:hover {
  opacity: 1;
}

/******************************************************************************/
